body {
  background-color: #212529;
  color: #f8f9fa;
}

.card {
  background-color: #343a40;
  border: 1px solid #495057;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-secondary {
  background-color: #adb5bd;
  border-color: #adb5bd;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}